body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(240, 244, 247);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.light-mode {
  color: black !important;
  background-color: white !important;
}
.dark-mode {
  color: white !important;
  background-color: black !important;
}

